{% extends 'app_project1/base.html' %}

{% block content %}
  <div class="detail-wrapper">
    <h1 class="detail-title">{{ item.name }}</h1>
    <p class="scientific-name"><em>{{ item.scientific_name }}</em></p>

    <img src="{{ item.image_url }}" alt="{{ item.name }}" class="detail-img">

    <div class="tags-box">
      <span class="category {{ item.category|lower }}">{{ item.category }}</span>
      <span class="tag">Severity: {{ item.severity }}</span>
    </div>
      <ul>
      <li><strong>Symtoms:</strong> {{ item.symtoms }}</li>
      <li><strong>Monitoring:</strong> {{ item.monitoring }}</li>
      <li><strong>Control period:</strong> {{ item.control_period }}</li>

      </ul>
    <p class="detail-desc">{{ item.full_desc }}</p>


    <a href="{% url 'project_list' %}" class="back-link">← Back to list</a>
  </div>
{% endblock %}
